/* Styles for mobile screens */
@media only screen and (max-width: 500px) {
  .mobile {
    display: block;
  }

  .tablet, .logo-spacer {
    display: none;
  }

  .gallery {
    justify-content: center;
  }

  html {
    font-size: 12px;
  }
  
  header {
    background-image: none;
    background-color: var(--logo-yellow);
    height: auto;
  }

  
}