.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: var(--logo-orange);
    background-color: var(--logo-yellow);
    border-color: var(--logo-orange) var(--logo-orange) var(--logo-yellow);
}

.nav-tabs .nav-link {
  color:var(--dark-accent-text)
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: var(--logo-yellow) var(--logo-yellow) var(--logo-orange);
  color: var(--logo-orange);
}

.nav-tabs {
  border-bottom: 1px solid var(--logo-orange);
}
