@media only screen and (max-width: 960px) {
    .desktop, .mobile {
        display: none;
    }
    
    .tablet {
        display: block;
    }

    .billboard {
        left: 5%;
        bottom: 15%;
        max-width: 380px;
      }
      
      .billboard h1 {
        font-size: 1.5rem;
      }
      
      .billboard h3 {
        font-size: 1rem;
      }
  }